main {
    display: flex;
    flex: 1;
}

main .tasks, main .taskDetails {
    max-height: 100vh;
    overflow-y: auto; 
}

main .tasks {
    flex: 1;
}

main .taskDetails {
    width: 500px;
    box-shadow: var(--deepened-shadow);
}

/* TEMPORARY */
main p {
    padding: 30px 0px;
    letter-spacing: 50px;
    font-style: italic;
    opacity: 0.5;
}

main .tasks, main .taskDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main .taskDetails {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 50px;
}